<header class="mdl-layout__header">

  <div class="mdl-layout__header-row mdl-layout__header-row--main">
    <a class="mdl-navigation__link--first mdl-navigation__link" href="/">
      <img src="{{ site.url }}/img/avatar.jpg" class="header-img" alt="igors blog image">
    </a>
    <!-- Title -->
    <span class="mdl-layout-title">{{ site.title }}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
  </div>

  <div class="mdl-layout__header-row mdl-color--primary-dark">
    <nav class="main-navigation mdl-navigation">
      <a href="/posts" class="mdl-navigation__link {% if page.active == "posts" or layout.active == "posts" %} active {% endif %}">Posts</a>
      <a href="/projects" class="mdl-navigation__link {% if page.active == "projects" or layout.active == "projects" %} active {% endif %}">Projects</a>
      <a href="/about" class="mdl-navigation__link {% if page.active == "about" %} active {% endif %}">Bio</a>
    </nav>
  </div>

</header>
