.mdl-layout__header-row--main {
  height: 144px;
  text-transform: uppercase;
}

.header-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0px;
}

.mdl-navigation__link--first {
    padding-left: 0px !important;
}

.main-navigation {
    box-shadow: none!important;
    border: 0!important;
    width: 100%;
    height: 85px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 16px 0 24px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: -16px;
}

.main-navigation .mdl-navigation__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
    height: 64px;    
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 64px;
    padding: 0 16px;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.main-navigation > a {
    opacity: 0.65;
    font-weight: 500;
}

.main-navigation > a.active {
    opacity: 1;
    border-bottom-color: #ff4081;
}

.main-navigation > a:hover {
    opacity: 1;
}
