---
layout: default
---

{% for project in site.projects %}
<article>
  {% if project.link %}
  <h3 class="link-post"><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a> <a href="{{ project.link }}" target="_blank" title="{{ project.title }}"><i class="fa fa-link"></i></a></h3>
  {% else %}
  <h3><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></h3>
  <p>{{ project.excerpt | strip_html | truncate: 160 }}</p>
  {% endif %}
</article>
{% endfor %}
